
* {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.clear {
	clear: both;
}
a{
	list-style: none;
	text-decoration: none;
}

header {
	/* display: flex; */
	margin: 20px 10px 10px 10px;
	font-size: 18px;
}

header > .logo {
	float: left;
}
.active {
	padding-right: 10px;
	border-right: 1px solid #DDD;
	color: #000099;
	font-weight: 600;
}

header > .header-left {
	padding-top: 5px;
	float : right;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
}
header > .header-left > .item:hover {
	color: #0000EE;
}

.banner {
	position: relative;

}

.content-banner {
	position: absolute;
	top: 160px;
	left:  215px;
	color: #FFF;
	text-align: center;
	font-size: 20px;
}
.content-banner > .title {
	font-size: 36px;
	font-weight: 600;
}

.btn-join {
	position: absolute;
	padding: 12px 60px;
	background: #f13a59;
	font-size: 18px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	border: none;
	top: 278px;
	left: 551px;
}

.btn-join:hover {
	background: #e81035;
}

.menu {
	margin: 20px;
	/* padding: 18px 0px; */
	/* border-bottom: 1px solid #EEE; */
	margin-left: 18%;
	/* margin-left: 20%; */
}
.menu > ul {
	display: block;
	list-style: none;
}

.menu > ul > li {
	float: left;
	margin-right: 20px;
	padding: 5px 10px;
	background: #EEE;
	border: 1px solid #AAA;
	border-radius: 6px;
	color: #555;
}
.menu > ul > li:hover {
	border: 1px solid #777;
}
.list-event {
	margin: 0px 10%;
	padding: 30px 0px;
}
.list-event > .title {
	float: left;
}
.list-event > .title h3{
	font-size: 1.5em;
	color: black;
	margin-bottom: 5px;
}
.list-event > .title p {
	font-size: 1em;
	color: #333;
}
.list-event > .see-all {
	float: right;
	color: #00D;
	font-weight: bold;
	font-size: 1em;
}
.list-event > .see-all > a{
	list-style: none;
	text-decoration: none;
}
.events {
	/* position: relative; */
}
.event {
	/* position: absolute; */
	margin-top: 20px;
	background: #FFF;
	list-style: none;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #666;
	width: 30%;
	transition: all 0.5s;

}
.event > a {
	list-style: none;
	text-decoration: none;
	padding: 20px 20px;
	color: #00D;
	display: block;
}
.event > a > .time {
	text-transform: uppercase;
	font-size: 1em;
	padding-bottom: 10px;
	font-weight: bold;
}
.event > a > .name-event {
	padding: 10px 0px;
	color: black;
	font-size: 1.25em;
	/* text-transform: uppercase; */
	font-weight: bold;
	line-height: 25px;
	/* letter-spacing: 3px; */

}
.digital {
	padding: 10px 0px;
	color: #333;
	font-size: 16px;
}
.location {
	padding: 10px 0px;
	color: #888;
	font-size: 14px;
}
.end > .count-join{
	float: left;
	color: #888;
	text-align: center;
	padding-top: 11px;
}
.end > .btn-attend {
	float: right;
	padding: 10px 15px;
	border: 1px solid #00D;
	border-radius: 4px;
	transition: all 0.5s;
}
.end > .btn-attend:hover {
	background: #00D;
	color: white;
}
.event:hover {
	transform: translateY(-7px);
}
.list-group {
	margin: 20px 10%;
}
.list-group > .title {
	float: left;
}
.list-group > .title h3{
	font-size: 1.5em;
	color: black;
	margin-bottom: 5px;
}
.list-group > .title p {
	font-size: 1em;
	color: #333;
}
.list-group > .see-all {
	float: right;
	color: #00D;
	font-weight: bold;
	font-size: 1em;
}
.list-group > .see-all > a{
	list-style: none;
	text-decoration: none;
}

.groups {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	padding: 20px 0px;
}
.group {
	box-shadow: 0px 1px 2px #DDD;
	width: 253px;
	border: 1px solid #DDD;
	border-radius: 10px;
	transition: 0.3s;
}
.group:hover{
	transform: translateY(-5px);
}
.group > .info {
	margin: 30px 20px;
}
.content {
	font-size: 16px;
	font-weight:600;
	color: #999;
	padding-bottom: 15px;
}
.name-group {
	font-weight: bold;
	color: black;
	font-size: 20px;
	padding-bottom: 40px;
}
.member {
	font-size: 14px;
	color: #999;
}

.list-categories {
	margin: 20px 10%;
}
.list-categories > .title {
	float: left;
}
.list-categories > .title h3{
	font-size: 1.5em;
	color: black;
	margin-bottom: 5px;
}
.list-categories > .title p {
	font-size: 1em;
	color: #333;
}
.list-categories > .see-all {
	float: right;
	color: #00D;
	font-weight: bold;
	font-size: 1em;
}
.list-categories > .see-all > a{
	list-style: none;
	text-decoration: none;
}
.categories {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
}
.categori {
	margin: 10px 0px;
}
.categori > .img {
	border: 1px;
	border-radius: 10px;
	width: 260px;
	height: 160px;
	padding-top: 10px;
	background-image: url('https://secure.meetupstatic.com/photos/event/2/e/a/7/600_450131943.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
} 
.name {
	padding-top: 10px;
	color: black;
	font-size: 17px;
	font-weight: 600;
}

.works {
	margin: 20px 0px;
	background: #0F1721;
}
.contents {
	padding-bottom: 50px;
}
.contents > .title {
	padding: 30px 0px;
	text-align: center;
	font-size: 2em;
	font-weight: 600;
	color: #FFF;
}
.choice {
	margin: 0px 10%;

}
.choice > .search {
	float: left;
	width: 45%;
	display: flex;
	flex-direction: row;
}
.choice > .search > .icon {
	float: left;
	width: 15%;
	font-size: 40px;
	color: #00A2C7;
}
.choice > .search > .cate {
	float: right;
}
.choice > .start {
	float: right;
	width: 45%;
	display: flex;
	flex-direction: row;
}
.choice > .start > .icon {
	float: left;
	width: 15%;
	/* text-align: center; */
	/* padding-top: 20px; */
	font-size: 40px;
	color: #00A2C7;
}
.choice > .start > .cate{
	float: right;
}
.choice > .start > .cate h3{
	font-weight: 700;
	font-size: 24px;
	color: white;
	padding-bottom: 10px;
}
.choice > .start > .cate p{
	font-size: 18px;
	color: white;
	line-height: 25px;
	padding-bottom: 25px;
}
.choice > .search > .cate h3{
	font-weight: 700;
	font-size: 24px;
	color: white;
	padding-bottom: 10px;
}
.choice > .search > .cate p{
	font-size: 18px;
	color: white;
	line-height: 25px;
	padding-bottom: 25px;
}
.choice > .search > .cate a{
	font-size: 18px;
	color: #00A2C7;
	text-decoration: none;
	padding-bottom: 25px;
}
.choice > .start > .cate a{
	font-size: 18px;
	color: #00A2C7;
	text-decoration: none;
	padding-bottom: 25px;
}